!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Novo
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body

      %div.header
        = render :partial => 'layouts/header'
      %div.container
        = yield
      %footer.footer
        = render :partial => 'layouts/footer'
