!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Novo
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet"}/
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %body
      %div.header
        = render :partial => 'layouts/header'
      %div.container-fluid
        = yield
      %footer.footer
        = render :partial => 'layouts/footer'
        // improve: inherit dimensions
        / %canvas.animated{:height => "1000", :width => "2800"} 
      %canvas.animated
= javascript_include_tag 'particles.js'
= javascript_include_tag 'matchHeights.1.0.js'

